<!--<header>
    <h1><a href='{{ site.url }}/'>{{ site.name }}</a></h1>
</header>
<a href='{{ site.url }}/'> Home</a> | <a href='{{ site.url }}/about/'>About </a> | <a href='{{ site.url }}/contact/'> Contacts</a> | <a href='{{ site.url }}/archive/'> Archive</a>
<hr>-->


<nav class="navbar navbar-light" style="background-color: white;">
    <!-- Navbar content -->
    <div class="btn-group btn-group-toggle btn-lg btn-block" data-toggle="buttons">
        <label class="btn btn-secondary">
            <input onclick="window.location='/index.html';" type="radio" name="options" id="option1" autocomplete="off"
                   checked> Home</a>
        </label>
        <label class="btn btn-secondary">
            <input onclick="window.location='/about.html';" type="radio" name="options" id="option2" autocomplete="off">
            About
        </label>
        <label class="btn btn-secondary">
            <input onclick="window.location='/projects.html';" type="radio" name="options" id="option3"
                   autocomplete="off"> Projects
        </label>
        <label class="btn btn-secondary">
            <input onclick="window.location='/writing.html';" type="radio" name="options" id="option4"
                   autocomplete="off"> Writing
        </label>
        <label class="btn btn-secondary">
            <input onclick="window.location='/resume.html';" type="radio" name="options" id="option5"
                   autocomplete="off"> Resume
        </label>
        <label class="btn btn-secondary">
            <input onclick="window.location='/contact.html';" type="radio" name="options" id="option6"
                   autocomplete="off"> Contacts
        </label>
    </div>
</nav>