<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset='utf-8'>
    <title>
        {% if page.title %}
        {{ page.title }}
        {% else %}
        {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>

    {% if site.highlighter %}
    <link rel='stylesheet' href='{{ site.url }}/assets/css/syntax.css' type='text/css'>
    {% endif %}

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
        }
    </script>
</head>

<body>
<div class="container">
    <div class="row" style="margin: auto; max-width: 990px;">
        <div class="col-sm-12">
            {% include header.html %}
            {{content}}
            <!-- Script to resize the iframes -->
            <script type="application/javascript">

                function resizeIFrameToFitContent( iFrame ) {

                    iFrame.width  = iFrame.contentWindow.document.body.scrollWidth;
                    iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
                }

                window.addEventListener('DOMContentLoaded', function(e) {

                    var iFrame = document.getElementById( 'iFrame1' );
                    resizeIFrameToFitContent( iFrame );

                    // or, to resize all iframes:
                    var iframes = document.querySelectorAll("iframe");
                    for( var i = 0; i < iframes.length; i++) {
                        resizeIFrameToFitContent( iframes[i] );
                    }
                } );

            </script>
            {% include footer.html %}
        </div>
    </div>
</div>

</body>
</html>
